{% extends 'main_page/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
<p>您的资料整理后将从主页移动至"答案&资料"</p>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fildset class="form-group">
            <legend class="border-bottom mb-4">提交答案&资料</legend>
            {{ form|crispy }}
        </fildset>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">发布</button>
        </div>
    </form>
</div>


{% endblock content %}
