{% extends 'main_page/base.html'%}
{% block content %}
{% load static %}

<h2>呦, 网站做得不错, 给小二赏颗糖!</h2>
<br>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">一块让我美滋滋</h3>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/w1.png'%}" alt="Card image cap">
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
<!--                            additional content. This content is a little bit longer.</p>-->
<!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">微信</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/z1.png'%}" alt="Card image cap">
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
<!--                            content.</p>-->
<!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">支付宝</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">两块让我乐哈哈</h3>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/w2.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                    <!--                            additional content. This content is a little bit longer.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">微信</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/z2.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
                    <!--                            content.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">支付宝</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">五块让我爽歪歪</h3>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/w5.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                    <!--                            additional content. This content is a little bit longer.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">微信</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/z5.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
                    <!--                            content.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">支付宝</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">十块让我脚朝天</h3>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/w10.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                    <!--                            additional content. This content is a little bit longer.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">微信</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/z10.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
                    <!--                            content.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">支付宝</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">一百把我带回家!</h3>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/w100.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                    <!--                            additional content. This content is a little bit longer.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">微信</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{%static 'tip/z100.png'%}" alt="Card image cap">
                    <!--                    <div class="card-body">-->
                    <!--                        <p class="card-text">This card has supporting text below as a natural lead-in to additional-->
                    <!--                            content.</p>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <small class="text-muted">支付宝</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock content %}
