
{%  extends 'main_page/base.html'%}
{% block content %}
{% for job in jobs %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title">任务科目: {{ job.subject }}</h3>
            <small class="text-muted">发布时间: {{ job.post_date|date:"F d, Y" }}</small>
        </div>

        <br>
        <h6 class="article-title">任务细节:</h6>
        <div class="row">
            <div class="col-10 text-warp">
                <p class="text-break">{{ job.job_detail}}</p>
            </div>
        </div>

        <div class="separator"></div>

        <div class="row">
            <div class="col-10 text-warp">
                <h6 class="text-break">悬赏金额: {{ job.how_much}}</h6>
            </div>
        </div>

        <div class="separator">
        </div>

        <div class="row">
            <div class="col-10 text-warp">
                <h6 class="text-break">截止日期: {{ job.deadline}}</h6>
            </div>
        </div>

        <div class="separator">
        </div>

        <div class="row">
            <div class="col-10 text-warp">
                <h6 class="text-break">联系方式: {{ job.contact}}</h6>
            </div>
        </div>
    </div>
</article>
{% endfor %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock content %}